<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-4 col-xl-12 px-sm-4 px-0">
            <div
                class="d-flex flex-column align-items-center align-items-sm-start px-4 pe-xl-5 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center mb-md-0 me-md-auto text-decoration-none">
                    <img class="img" src="../../assets/img/alianza-logo.jpg" alt="fiduciaria">
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 ps-xl-4 pe-xl-3 align-items-center align-items-sm-start"
                    id="menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link align-middle px-0">
                            <i class="fs-2 bi-person"></i> <span class="ms-1 d-none d-sm-inline">Clients</span>
                        </a>
                    </li>
                    <li class="ps-xl-4 ms-xl-2">
                        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-black">
                            <i class="fs-2 d-xl-none d-md-none bi-hourglass-split"></i> <span
                                class="ms-1 d-none d-sm-inline">Clients</span></a>
                    </li>
                    <li class="ps-xl-4 ms-xl-2">
                        <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-black">
                            <i class="fs-2 d-xl-none d-md-none bi-hourglass-split"></i><span
                                class="ms-1 d-none d-sm-inline">Client look history</span> </a>
                    </li>
                    <li class="ps-xl-4 ms-xl-2">
                        <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-black">
                            <i class="fs-2 d-xl-none d-md-none bi-gear-fill"></i> <span class="ms-1 d-none d-sm-inline">Emergency PIN configuration</span> </a>
                    </li>
                    <li class="ps-xl-4 ms-xl-2">
                        <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-black">
                            <i class="fs-2 d-xl-none d-md-none bi-megaphone-fill"></i> <span class="ms-1 d-none d-sm-inline">Emergency PIN history</span> </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>